
h1{
    font-family: 'Yellowtail', cursive;
}

body{
    background-image: url('mandala.png');

background-size: cover;
}

#camera{
    border: 10px teal solid;
    height: 400px;
    width: 700px;
}


#back{
    background-color:aquamarine;
    width: 200px;
    border-radius: 75px;
    border: none;
    font-family: 'Patrick Hand', cursive;
    font-size: 34px;
}